{% include "header.html" %}

<div class="chooser text-center">
  <h2>Large Data Modeller</h2>
</div>

<div class="canvas" style="margin: 0 auto; width: 580px;">
  <p>
    Use this application to build a series of DataRobot projects on a large
    dataset. Each project will make use of successively more data by reducing
    the columns based on what has proven informative in initial projects.
  </p> 
  <p>
    Once generated, summaries and links to the DataRobot projects will be stored
    in the projects area for later reference.
  </p>
</div>

{% include "footer.html" %}
