{% include "header.html" %}

<div class="chooser text-center">
  <h2>{{ project_type }} : {{ project_name }}</h2>
  <h3>Dataset: {{gigs}} Gb, {{cols}} Columns, {{rows}} Rows</h3>
  <h3>Target: {{target}}, Date:{{datetime}} , Series:{{series}}</h3>
</div>

<div class="controlpanel text-center">
    <form method="post" action="/project">
     <input type="hidden" name="project_folder" value="{{ project_folder }}">
     <input type="hidden" name="subaction" value="add_experiment">
     <div class="input-group" style="margin: 0 auto; width: 780px;">
     <table>
      <tr><th colspan=2>Start Experiment</th> <th></th></tr>
      <tr>
          <td style="white-space: nowrap">Experiment Type</td>
          <td>
           <select name="experiment_type" class="form-control">
              <option value="single_series_pivot">single_series_pivot</option>
              <option value="single_series_reduction">single_series_reduction</option>
           </select>
          </td>
          <td><button id="generate" type="submit" class="btn btn-danger">Run</button></td>
      </tr>
     </table>
    </div>
  </form>
 <div id="placeholder" style="margin: 10 auto; width: 680px;"></div>
</div>

<script>
  bootstrap_alert = function(message) {
    $('#placeholder').html(
      '<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>');
   }
   $('#generate').on('click', function() {bootstrap_alert('Please be patient, this can take 5-10 minutes to initiate');
});
</script>

{% include "experiment_list.html" %}

{% include "footer.html" %}
